body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.columns {
    display: flex; /* Используем Flexbox для горизонтального расположения столбцов */
    justify-content: space-between; /* Распределяем пространство между столбцами */
}